.imag{
    height: 100%;
    width: 90%;
    object-fit: cover;
    
  }

  .maintitle{
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 50px;
    color: black;
    line-height:auto;
    margin-top: 70px;
    
}

.subtitle{
    font-size:22px ;
    font-weight:600;
    color:var(--blue);
    padding-bottom: 50px;

}

.ddescption{
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 50px;
}